body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    display: block;
    background-color: #fff; /* Tunnel background */
}

#restartButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
