body, html {
    margin: 0; padding: 0; width: 100%; height: 100%;
    overflow: hidden; background-color: #000;
    touch-action: none; font-family: 'Arial Black', sans-serif;
}

#game-container {
    display: flex; position: relative; width: 100vw; height: 100vh;
    justify-content: center; align-items: center;
}

canvas {
    display: block; background: #222;
    border-top: 5px solid #8B4513;
    border-bottom: 5px solid #8B4513;
}

#ui-layer {
    position: absolute; top: 0; width: 100%; height: 100%;
    text-align: center; pointer-events: none; z-index: 10;
}

#score {
    color: #FFD700; font-size: 3rem; margin-top: 20px;
    text-shadow: 3px 3px 0px #000;
}

#sub-title {
    color: #00ffcc; font-size: 1.2rem;
    text-shadow: 0 0 10px #00ffcc;
    letter-spacing: 2px; font-weight: bold;
}

#game-over {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9); border: 5px solid #FFD700;
    padding: 40px; border-radius: 20px; pointer-events: auto;
}

#wasted-text { color: #ff0000; font-size: 4rem; text-shadow: 4px 4px #fff; margin: 0; }

.hidden { display: none !important; }

button {
    background: #FFD700; color: #000; border: none;
    padding: 15px 40px; font-size: 1.8rem; font-weight: bold;
    border-radius: 10px; cursor: pointer; margin-top: 20px;
}
